body{
    background-color: gray;
}

h1{
    text-align: center;
    color:#c209f0dd;
}

#header-text{
    color:white;
}


#top-level-container{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height :100%;
}

.card-box{
    
    grid-template-columns: repeat(1fr);
    flex: 1 1 33%

}

.pink-background-box{
   
}

.dotted-box{
    border: 2px dashed white;
}

.bold-header{
    text-align: center;
    border: 2px solid white;
    border-radius: 5px
}

.pink-text{
    color: #c209f0dd;
}

.white-text{
    color: white;
}

footer{
    text-align: center;
}