body{
    background-color: gray;
}

h1{
    text-align: center;
    color:#c209f0dd;
}

#header-text{
    color:white;
    text-align:center;
}


#top-level-container{
    background-color: rgb(80, 79, 79);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    padding:10px;
    flex: 1 1 30%;
}

.pink-background-box{
   
   background-image:linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
   border-radius: 8px;
   
   
}

.pink-background-box :hover{
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    
}

.dotted-box{
   
    border: 2px dashed white;
    height: 100%;    
}

.bold-header{
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    color: rgba(232, 102, 236, 1);
    font-weight: bolder;
    margin-top: -15px;
    position: relative;
    z-index: 10;

}

.pink-text{
    color: #c209f0dd;
}

.white-text{
    color: white;
}

footer{
    text-align: center;
    color: rgba(232, 102, 236, 1);
    font-size: x-large;
}

footer span{
    color: red;
}